/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconPortal {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconPortal .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -----------------
	Sub menu
   ----------------- */
#navi-main-list-portal li a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
}

	/* Selection */
#navi-main-list-portal li.itemSelection a {
	background-position:6px 5px;
}

	/* To do */
#navi-main-list-portal li.itemTodo a {
	background-position:6px -55px;
}



/* -----------------
	Tabs
   ----------------- */
#portal-tab-selection span.icon {
	background:url(../img/icons.png) no-repeat 0 3px;
}

#portal-tab-todo span.icon {
	background:url(../img/icons.png) no-repeat 0 -55px;
}



/* ------------------------
	Special Task Header
   ------------------------ */
.headerLine .first {
	margin-left:5px;
}
.portalTaskList h1 .taskDate,
.portalTaskList .task h3 .taskDate {
	width:45px;
}

.portalTaskList h1 .customer,
.portalTaskList .task h3 .customer {
	width:100px;
}

.portalTaskList h1 .projectName,
.portalTaskList .task h3 .projectName {
	width:340px;
}

.portalTaskList .task h3 .customer,
.portalTaskList .task h3 .projectName,
.portalTaskList .task h3 .taskNumber {
	margin:0 0 0 5px;
}