/* Icon */
#panelwidget-filterpresetlist h1 .title {
	background:url(../../../portal/asset/img/icons.png) no-repeat 5px 5px;
}

#panelwidget-filterpresetlist button.manageFilters .icon {
	background:url(../../../search/asset/img/icons.png) no-repeat 3px -476px;
	width:28px;
}

#panelwidget-filterpresetlist select option {
	cursor:pointer;
}

#panelwidget-filterpresetlist h2 {
	font-size:11px;
	padding:10px 0 2px 0;
	border-bottom:1px solid #ddd;
}
