/* -----------------
	Tabs
   ----------------- */

#portal-tabs li.selection span.icon {
	background:url(../img/icons.png) no-repeat 0 3px;
}

#portal-tabs li.todo span.icon {
	background:url(../img/icons.png) no-repeat 0 -55px;
}



/* ------------------------
	Special Task Header
   ------------------------ */
  
.portalTaskList h1 span.taskDate {
	width:45px;
}

.portalTaskList h1 span.customer,
.portalTaskList .task h3 div.customer {
	width:100px;
}

.portalTaskList h1 span.projectName,
.portalTaskList .task h3 div.projectName {
	width:340px;
}



/* -----------------------
	Context menu items
   ----------------------- */
a.task-showinproject {
	background:url(../img/icons.png) no-repeat 2px -26px;
}