/* -----------------
	Sub menu
   ----------------- */
#navi-main-list-portal li a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
}

	/* Selection */
#navi-main-list-portal li.itemSelection a {
	background-position:6px 5px;
}

	/* To do */
#navi-main-list-portal li.itemTodo a {
	background-position:6px -55px;
}

h1.extIconPortal .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

/* -----------------
	Tabs
   ----------------- */

#portal-tab-selection span.icon {
	background:url(../img/icons.png) no-repeat 0 3px;
}

#portal-tab-todo span.icon {
	background:url(../img/icons.png) no-repeat 0 -55px;
}



/* ------------------------
	Special Task Header
   ------------------------ */

.portalTaskList h1 span.taskDate,
.portalTaskList .task h3 span.taskDate {
	width:45px;
}

.portalTaskList h1 span.customer,
.portalTaskList .task h3 span.customer {
	width:100px;
}

.portalTaskList h1 span.projectName,
.portalTaskList .task h3 span.projectName {
	width:340px;
}

.portalTaskList .task h3 span.customer,
.portalTaskList .task h3 span.projectName,
.portalTaskList .task h3 span.taskNumber {
	margin:0 0 0 5px;
}