/* -----------------
	Tabs
   ----------------- */

#portal-tabs li.selection span.icon {
	background:url(../img/icons.png) no-repeat 0 3px;
}

#portal-tabs li.todo span.icon {
	background:url(../img/icons.png) no-repeat 0 -55px;
}



/* ------------------------
	Special Task Header
   ------------------------ */
.portalTaskList h1 span.taskDate,
.portalTaskList h3 span.taskDate {
	width:62px;
}

.portalTaskList h1 span.customer,
.portalTaskList h3 span.customer {
	width:90px;
}

.portalTaskList h1 span.projectName,
.portalTaskList h3 span.projectName {
	width:340px;
}



/* -----------------------
	Context menu items
   ----------------------- */
a.task-showinproject {
	background:url(../img/icons.png) no-repeat 2px -26px;
}