#panelwidget-filterpresetlist h1 .title {
	background:url(../img/icons.png) no-repeat 5px -324px;
}

#panelwidget-filterpresetlist button.manageFilters {
	margin-left:15px;
}

#panelwidget-filterpresetlist button.manageFilters .icon {
	width:22px;
	background:url(../../../search/assets/img/icons.png) no-repeat 0 -479px;
}

#panelwidget-filterpresetlist select option {
	cursor:pointer;
}