/* icon */
#panelwidget-filterpresetlist h1 .title {
	background:url(../../../portal/assets/img/icons.png) no-repeat 5px 5px;
}

#panelwidget-filterpresetlist button.manageFilters .icon {
	width:22px;
	background:url(../../../search/assets/img/icons.png) no-repeat 0 -476px;
}

#panelwidget-filterpresetlist select option {
	cursor:pointer;
}

#panelwidget-filterpresetlist h2 {
	font-size:11px;
	padding:10px 0 2px 0;
	border-bottom:1px dotted #000;
}
