{extends "core/view/base.tmpl"}

{* left panel with widgets *}
{block "panel"}
	{$panelWidgets}
{/block}

{block "content"}

	{$tabHeads}

	{* actual content, over here: list of tasks/ appointments *}

	<div id="portal-tabcontent">
		{$activeTabContent}
	</div>

{/block}