{extends "core/view/base.tmpl"}

{* left panel with widgets *}
{block "panel"}
	{$panelWidgets}
{/block}

{block "content"}
	{* portal tabs, default: selection, feedbacks, to dos, appointments *}

	{$portalTabs}

	{* actual content, over here: list of tasks/ appointments *}

	<div id="portal-tabcontent-{$tab.id}" class="portal-tabcontent {$tab.class}">
		{$tabContent}
	</div>

	{$tabContainers}
{/block}