<div id="quicktaskForm">
	<button type="button" class="button" onclick="Todoyu.Ext.portal.PanelWidget.QuicktaskWizard.openPopup()"><span class="hasIcon iconAddQuicktask">{Label panelwidget-quicktaskwizard.addQuicktask}</span><span class="rgt"><!-- right --></span></button>
</div>