<div id="filterPresetsBox">
{if count($options) > 0}
	<div id="filterTarget">
		<div class="filter">
			<span class="field">
				<span class="scrollbarHide overflowHidden displayBlock">
					{select options=$options value=$value id="panelwidget-$id-list" multiple=true size=sizeof($options)}				
				</span>
			</span>
		</div>
	</div>
{else}
	<div class="notification">{Label panelwidget-filterpresetlist.noFilters}</div>
{/if}
	<br/>
	{* ---------- Manage filter presets button ---------- *}
	{restrict 'portal' 'filterPresetList:manageFilters'}
	{if count($filtersets) > 0}
	{Button label="panelwidget-filterpresetlist.manage" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{else}
	{Button label="panelwidget-filterpresetlist.create" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{/if}
	{/restrict}
</div>