<div id="filterPresetsBox">
{if count($filtersets) > 0}
	<div id="filterTarget">
		<div class="filter">
			<span class="field">
				<span class="selectScrollbarHide">
					<select size="{sizeof($filtersets)}" id="panelwidget-{$id}-list" multiple="multiple">
					{* ---------- List all filter presets as options ---------- *}
					{foreach $filtersets filterset}
						<option title="{htmlencode $filterset.title}" value="{$filterset.id}" class="{cycle values="odd,even"}{if $filterset.selected == 1} selected{/if}" {if $filterset.selected == 1}selected="selected"{/if}>
							{htmlencode $filterset.title|truncate:46} ({$filterset.amount})
						</option>
					{/foreach}
					</select>
				</span>
			</span>
		</div>
	</div>
{else}
	<div class="centered">{Label panelwidget-filterpresetlist.noFilters}</div>
{/if}
	<br/>
	{* ---------- Manage filter presets button ---------- *}
	{restrict 'portal' 'panelwidget:filterPresetList:manageFilters'}
	{if count($filtersets) > 0}
	{Button label="panelwidget-filterpresetlist.manage" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{else}
	{Button label="panelwidget-filterpresetlist.create" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{/if}
	{/restrict}
</div>