<div id="filterPresetsBox">
	<div id="filterTarget">
		<div class="filter">
			<span class="field">
				<span class="selectScrollbarHide">
				<select size="{sizeof($filtersets)}" id="panelwidget-{$id}-list" multiple="multiple">

				{* ---------- List all filter presets as options ---------- *}
				{foreach $filtersets filterset}
					<option value="{$filterset.id}" class="{cycle values="odd,even"}{if $filterset.selected == 1} selected{/if}" {if $filterset.selected == 1}selected="selected"{/if}>
						{$filterset.title} ({$filterset.amount})
					</option>
				{/foreach}
				</select>
				</span>
			</span>
		</div>
	</div>
	<br/>

	{* ---------- Manage filter presets button ---------- *}
	{restrict 'portal' 'panelwidget:filterPresetList:manageFilters'}
	{Button label="portal.panelWidgetFilterPresetList.manage" class="manageFilters" onclick="Todoyu.Ext.portal.PanelWidget.FilterPresetList.manageFiltersets()"}
	{/restrict}
</div>