<div class="taskList portalTaskList">

{* ---------- Header with column titles ---------- *}
	{include file="tasklist-header.tmpl"}

{* ---------- The actual list of tasks ---------- *}
	<div class="tasks" id="tasks">
	{if $tasks}
		{$tasks}
	{else}
		<p class="contentMessage">{Label portal.selection.noTasksFound}</p>
	{/if}
	</div>
</div>
<script type="text/javascript">
{$javascript}
</script>