<h1 class="headerLine">
	<span class="first taskDate">{Label portal.tasktree.header.date}</span>
	<span class="customer">{Label portal.tasktree.header.customer}</span>
	<span class="projectName">{Label portal.tasktree.header.project} - {Label portal.tasktree.header.task}</span>
	<span class="taskNumber">{Label portal.tasktree.header.tasknumber}</span>
	<span class="rgt"><!-- right --></span>
</h1>