<div id="task-{$task.id}" class="task status{ucfirst $task.statuskey} {$task.class}">
	<h3 id="task-{$task.id}-header" class="contextmenutask" name="task-{$task.id}" onclick="Todoyu.Ext.portal.Task.toggleDetails({$task.id})">
	<span class="headLabel bcStatus{$task.status}" title="{$task.fulltitle}">
		<span class="taskDate date" title="{Label core.deadline}: {date_format $task.date_deadline "%d.%m.%y"} / {Label core.start}: {date_format $task.date_start "%d.%m.%y"}">
			{date_format $task.date_deadline "%d.%m.%y"}&nbsp;
		</span>
		<span class="customer">
			{if $task.customer.shortname}{$task.customer.shortname}{else}{$task.customer.title}{/if}&nbsp;
		</span>
		<span class="projectName" title="{Label project.project}: {$task.project.title} (ID: {$task.project.id}) / {Label task.task}: {$task.title}">
			{htmlencode $task.project.title|truncate:45} - {htmlencode $task.title|truncate:45}
		</span>
	{if $task.infoIcons}
		<span class="infoIcons">
		{foreach $task.infoIcons infoIcon}
			<span id="{$task.infoIcon.id}" class="{$task.infoIcon.class}" title="{$task.infoIcon.label}" {if $task.infoIcon.onclick}onclick="{$task.infoIcon.onclick}"{/if}></span>
		{/foreach}
		</span>
	{/if}
	</span>
	<span class="billableTime" title="{Label task.billableTime} ({Label timetracking.tracked_time}: {Workload $task.tracked_time true})">{Workload $task.tracked_time true}</span>
	<span class="taskNumber" title="{Label project.taskno}: {$task.id_project}.{$task.tasknumber}">{$task.id_project}.{$task.tasknumber}</span>
	
	<span class="additionalStuff">
	{foreach $task.additionalIcons icon}
		<span class="{$task.icon.class}" title="{$task.icon.label}"></span>
	{/foreach}
	{if sizeof($task.additionalIcons)==0}&nbsp;{/if}
	</span>


	</h3>
	{$details}
</div>